
/* Custom page footer */
.footer {
	padding-top: 5px;
  	color: #777;
  	border-top: 1.5px solid #e5e5e5;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
}

/* Need to do something clever here */
#chartId{
	width:650px; 
	height:430px;
}


